@import "~bootstrap/dist/css/bootstrap.css";

.header-content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 157, 0);
    padding: 10px 10px 0px 10px;
    button {
        width: 15%;
        margin-left: 28px;
    }
    h2 {
        margin-top: 3px;
        margin-left: 3px;
        width: 30%;
    } 

    div {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
    }
}

.page-name{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 157, 0);
}

.measurement-button {
    font-size: 17px;
}