<div>
    <app-header (onAddDevice)="onAddDevice()"></app-header>
</div>
<div class="ml-3" *ngIf="devices">
    <kendo-grid [data]="devices" class="device-grid">
        <kendo-grid-column title="Description" editor="text">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-textbox *ngIf="isUserAdmin" [(value)]="dataItem.description"></kendo-textbox>
                <p *ngIf="!isUserAdmin">{{dataItem.description}}</p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Sensor description" editor="text">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-textbox *ngIf="isUserAdmin" [(value)]="dataItem.sensorDescription"></kendo-textbox>
                <p *ngIf="!isUserAdmin">{{dataItem.sensorDescription}}</p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Address" editor="text">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-textbox *ngIf="isUserAdmin" [(value)]="dataItem.address"></kendo-textbox>
                <p *ngIf="!isUserAdmin">{{dataItem.address}}</p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Maximum consumption" editor="numeric">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-numerictextbox *ngIf="isUserAdmin" [min]="0" [autoCorrect]="true" [(value)]="dataItem.maximumEnergyConsumption"></kendo-numerictextbox >
                <p *ngIf="!isUserAdmin">{{dataItem.maximumEnergyConsumption}}</p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="averageEnergyConsumption" title="Average consumption" width="200"></kendo-grid-column>
        <kendo-grid-column field="totalEnergyConsumption" title="Total consumption" width="200"></kendo-grid-column>
        <kendo-grid-column title="">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="button-section">
                    <button [disabled]="!dataItem.id" *ngIf="isUserAdmin" class="k-button k-primary ml-3" (click)="onDelete(dataItem)">Delete</button>
                    <button *ngIf="isUserAdmin" class="k-button k-primary" (click)="onSaveClick(dataItem)">Update</button>
                    <button [disabled]="!dataItem.id" class="k-button k-primary" (click)="onViewMeasurements(dataItem)">View measurements</button>
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>